
.wolf-section { 
    height: calc(var(--vh, 1vh) * 573); 
    pointer-events: none; 

    &_container {
        height: calc(var(--vh, 1vh) * 900);
        position: relative;   
    }

    &_sticky { 
        position: sticky;
        height: calc(var(--vh, 1vh) * 220);   
        // sticky-scroll start - s/b in sync with bite (a lil bit later)
        top: calc(var(--vh, 1vh) * 45); 
    }

    .wolf {  
        &.hidden {
            visibility: hidden;
        }

        &_item {
            position: absolute;  
            height: 100%;        
            left: 50%;
            transform: translateX(-50%);
            width: calc(var(--vh, 1vh) * 220 * 0.53); 
        }

        &_main { 
            background: url("../../assets/Sections/Wolf-section/wolf.webp") no-repeat center/contain; 

            &::after {
                content: "";
                position: absolute;  
                height: 100%;        
                width: 100%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background: url("../../assets/Sections/Wolf-section/wolf.webp") no-repeat center/contain; 
                opacity: 0.5;
            }
        }

        &_text { 
            font-size: 6vh;
            writing-mode: vertical-lr;
            text-align: center;      
            font-family: Helvetica-Bold-Oblique, Helvetica-Black-Cyrillic, Helvetica-Black;

            &_left {
                position: relative;  
                transform: translate(calc(var(--vh, 1vh) * 40.5), calc(var(--vh, 1vh) * 26)) rotate(180deg); 
            }

            &_right {
                position: relative; 
                transform: translate(calc(var(--vh, 1vh) * 66), calc(var(--vh, 1vh) * -17)) rotate(180deg);
            }

            &_bottom {
                display: none;

                &_left {
                    position: relative;  
                    transform: translate(calc(var(--vh, 1vh) * 50), calc(var(--vh, 1vh) * 125)) rotate(180deg); 
                }

                &_right {
                    position: relative; 
                    transform: translate(calc(var(--vh, 1vh) * 52), calc(var(--vh, 1vh) * 125)) rotate(180deg);
                }

                &.active {
                    display: block;
                }
            }
        }

        &_frame {
            &_left {
                background: url("../../assets/Sections/Wolf-section/wolf_frame_left.webp") no-repeat center/contain;  
            }

            &_right {
                background: url("../../assets/Sections/Wolf-section/wolf_frame_right.webp") no-repeat center/contain;  
            }
        }

        &_dress {
            background: url("../../assets/Sections/Wolf-section/wolf_dress.webp") no-repeat center/contain; 
        }

        &_panties {
            background: url("../../assets/Sections/Wolf-section/wolf_panties.webp") no-repeat center/contain; 
        }

        &_evil {
            overflow: hidden;  
            overflow: clip; 
            
            &_item {
                position: absolute;
                width: 100%;
                height: 100%;
                transform-origin: 54.2% 44.5%;
                background: url("../../assets/Sections/Wolf-section/wolf_evil.webp") no-repeat center/contain;  

                &.hide-horn {
                    clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
                }
            }
        }

        &_stroke {
            display: none;
            position: absolute; 
            height: 100%;
            left: 50%;

            &_input {
                top: 0; 
                transform: translate(-50%, -100%);
            }

            &_output {
                bottom: 0;  
                opacity: 1;
                transition: opacity 500ms;

                &.hidden {
                    opacity: 0;
                }
            }

            &.active {
                display: block; 
            }

            &_line {
                stroke: #ffc5c4; 
                stroke-width: calc(0.045 * 90vh / 220); 
            }
        } 
    } 
}
