
@keyframes pop {
    0% {
        transform: translateY(100%);
        animation-timing-function: ease-out; 
    }
    12% {
        transform: translateY(0);
    }
    38% {
        transform: translateY(0);
        animation-timing-function: linear; 
    }
    56% {
        transform: translateY(58%); 
    }
    81% {
        transform: translateY(58%);  
        animation-timing-function: linear; 
    }
    100% {
        transform: translateY(100%); 
    }
}

@keyframes typing_1 {
    0% {
        opacity: 0; 
    }
    6% {
        opacity: 0; 
    }
    18% {
        opacity: 1;
    }
    44% {
        opacity: 1;  
    }
    56% {
        opacity: 0;
    }
    100% {
        opacity: 0;  
    }
}

// pointer events are ignored on parent and turned on for an item to be able to pause animations on text hover
@keyframes typing_2 {
    0% {
        opacity: 0; 
    } 
    8% {
        opacity: 1;
        pointer-events: auto; 
        cursor: pointer;
    }
    50% {
        opacity: 1;
        pointer-events: auto; 
    }
    80% {
        opacity: 0;   
        pointer-events: auto; 
        cursor: pointer;
    } 
    81% {
        cursor: default; 
    }
} 