.top-section {
    .right_slide { 
        &_narrow-subtitle {
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translate(-50%);
            width: 100%;            
            font-size: 4.2vh; 
            font-family: Outfit;  
            text-align: center;
            z-index: 1;
            
            &.shadow { 
                text-shadow:rgba(0, 0, 0, 0.25) 0px 0px 5px,   
                            rgba(0, 0, 0, 0.25) 0px 0px 5px,   
                            rgba(0, 0, 0, 0.25) 0px 0px 5px,   
                            rgba(0, 0, 0, 0.25) 0px 0px 5px,   
                            rgba(0, 0, 0, 0.25) 0px 0px 5px;
                -webkit-font-smoothing: antialiased;
            }
        }
        
        &.zero_slide_main {
            background: url('../../assets/Sections/Top-section/stripes.webp') 0%/calc(var(--vh, 1vh) * 65) calc(var(--vh, 1vh) * 35);  

            .zero_cover {
                width: calc(var(--vh, 1vh) * 63.68);
                margin: auto;

                &_background {
                    height: 100%;
                    background: url('../../assets/Sections/Top-section/header_left.webp') no-repeat center/cover; 
                    
                }
            }
        }
    }
}