@import './Partials/video';
@import './Partials/video-buttons';
@import './Partials/video-sliders';
@import './Partials/escape';

.egg-section {  
    position: relative;
    height: calc(var(--vh, 1vh) * 380);   

    &_container {
        position: relative;
        top: calc(var(--vh, 1vh) * 70); 
        height: calc(var(--vh, 1vh) * 360);   
        overflow: clip;
    }

    &_sticky {
        position: sticky;  
        top: calc(var(--vh, 1vh) * 20);  
        display: flex;
        justify-content: center;
        transition: transform 500ms;
    }
} 