@import './Partials/video';
@import './Partials/video-buttons';
@import './Partials/video-sliders';
@import './Partials/escape';

.egg-section {  
    position: relative;
    height: 380vh;   

    &_container {
        position: relative;
        top: 70vh; 
        height: 360vh;   
        overflow: clip;
    }

    &_sticky {
        position: sticky;  
        top: 20vh;  
        display: flex;
        justify-content: center;
        transition: transform 500ms;
    }
} 