.egg-section { 
    .egg_video {
        &_slider { 
            position: absolute;  
            left: 0;
            right: 0;
            top: 0;
            bottom: 0; 
            height: calc(var(--vh, 1vh) * 17);
            width: calc(var(--vh, 1vh) * 54);
            
            appearance: none;
            -webkit-appearance: none;
            background-color: transparent;
            opacity: 0;
            cursor: pointer; 

            &::-webkit-slider-thumb {  
                // safari seems to register touch-drag on thumb only, so making it bigger
                opacity: 0;
                width: 6vh;  
                height: 22vh; 
                transform: translateY(-25%);  
            }
            
            &::-moz-range-thumb {   
                opacity: 0;  
            }  

            &::-webkit-slider-runnable-track { 
                transform: translateY(15%);  
            }

            &_label {
                display: block;
                position: absolute;  
                top: 45%; 
                padding: 0.5% 1%;
                background-color: rgba(0, 0, 0, 0.308);  
                border-radius: 5px;
            }
        }

        &_scroll { 
            transform: rotate(-89deg) translate(-42%, calc(var(--vh, 1vh) * -21));   
            clip-path: polygon(2% 100%, 8% 100%, 25% 50%, 50% 50%, 75% 60%, 92% 100%, 100% 100%, 100% 0%, 2% 0%);
            
            &:focus  ~ .egg_video_scroll_label  { 
                background-color: rgba(0, 128, 128, 0.575);
                border: 2px red solid; 
            }

            &_label {
                left: 4.7vh; 
            }
        }

        &_volume { 
            transform: rotate(-91deg) translate(-42%, calc(var(--vh, 1vh) * 10));      
            clip-path: polygon(2% 0%, 8% 0%, 25% 50%, 50% 50%, 75% 40%, 92% 0%, 100% 0%, 100% 100%, 2% 100%); 
            
            &:focus  ~ .egg_video_volume_label  { 
                background-color: rgba(0, 128, 128, 0.575);
                border: 2px red solid; 
            }

            &_label { 
                right: 4.7vh;  
            }
        }

        &_gauge {
            display: grid; 
            place-items: center;    
            position: absolute;
            height: calc(var(--vh, 1vh) * 57.6);
            width: calc(var(--vh, 1vh) * 42.4); 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            padding: 0;
            margin: 0;
            list-style: none;
            
            border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; 
            mask:url('../../assets/icons/egg_stroke.svg') center/110% no-repeat;
            -webkit-mask:url('../../assets/icons/egg_stroke.svg') center/110% no-repeat;   

            &_long { 
                mask-size: 100%; 
                -webkit-mask-size: 100%; 
            }

            &:hover {
                .video_slider_label {
                    display: none;
                }
            }

            &_bar { 
                display: block;
                position: absolute;   
                width: 8vh;
                height: 2.1px; 
                list-style: none; 
                background-color: rgb(165, 165, 165);   
                outline: 1px solid transparent;
                
                &_peak { 
                    background-color: rgb(157, 245, 223); 
                }   

                &.active {
                    background-color: rgb(201, 32, 2);  
                }
            }
        }
    }  
}