@import "./Partials/evil";
@import "./Partials/grinder";
@import "./Partials/keyframes";

.evil-section { 
    // wolf position
    height: calc(var(--vh, 1vh) * 605);
    position: relative;  
    z-index: 1;
    
    &_container {
        // start of grinder camera roll down
        height: calc(var(--vh, 1vh) * 700); 
        // God, burn Safari
        overflow: clip;
        position: relative; 
    }

    &_sticky {
        // start of sticky camera roll
        height: calc(var(--vh, 1vh) * 370);
        position: sticky;
        // end of sticky camera roll - s/b in sync with head landing
        top: calc(var(--vh, 1vh) * -220);    
    }
}  